
.heroSection{
    background-image:linear-gradient(180deg,
    rgba(71, 71, 71, 0.308),
    rgba(0, 0, 0, 0.13)),url("https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png  ");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    font-family: 'Mukta', sans-serif;
}
.heroSection a{
    font-size: 20px;
    color:white;
    text-decoration: none;

}
.title{
    height: 60px;
}