.accordion-button:focus{
    outline: none !important;
    box-shadow: none;
    color: #000;;  
    background-color: #ffd9b7;
    
}
.accordion-button{
    outline: none !important;
    box-shadow: none;
    color: #000 !important;  
    background-color: #ffd9b7 !important;
    
}